.btn {
    cursor: pointer;
    width: 100px;
    padding: 10px 0;
    border-radius: 2rem;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
    background: transparent;
    color: white;
    outline: none;
}

.btn:hover {
    transition: all .4s ease;
    background: white;
    
    color: $primary;
}

.btn-lte {
    cursor: pointer;
    width: 100px;
    padding: 10px 0;
    border: 2px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
    color: $primary-lte;
    outline: none;
}

.btn-lte:hover {
    transition: all .4s ease;   
    background: transparent;
    color: white;
    border: 2px solid white;

}