.btn {
    cursor: pointer;
    width: 100px;
    padding: 10px 0;
    border: 1px solid $primary;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
    color: $primary-lte;
    outline: none;
}

.btn:hover {
    transition: all .4s ease;
    background: $primary;
    
    color: white;
}

.btn-lte {
    cursor: pointer;
    width: 100px;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
    color: $primary-lte;
    outline: none;
}

.btn-lte:hover {
    transition: all .4s ease;   
    // box-shadow: inset 0 0 0 1px $primary;
    background: $primary;
    color: white;

}