.pricing {
  padding-top: 2rem;
  background: blue;
  padding-bottom: 2rem;
  

  & h2 {
    font-size: 3rem;
    color: white;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 3rem;

    & > * {
      flex: 1 1 33%;
    }

  &--card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    margin: 0 5px;
    max-width: 400px;
    padding: 20px 30px 30px 30px;
    border-radius: .5rem;
    color: white;
    background-image: linear-gradient(360deg, rgba(0,212,255,1) 0%, rgba(10,56,253,1) 100%);
    transition: all .4s ease;

    & button {
      margin-top: auto;
    }

    &--title {
      font-size: 50px;
      letter-spacing: 2px;
    }

    &--price {
      font-size: 40px;

      & span {
        font-size: 25px;
      }
    }

    &--desc li{
      display: block;
      text-align: left;
      width: 100%;
    }

  }
  }
}
